<div style="float: left; width:50%;">
 
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
   
    <p>
      <label for="firstname">First Name </label>
      <input type="text" id="firstname" name="firstname" formControlName="firstname">
    </p>
  
   
    <p>
      <label for="lastname">Last Name </label>
      <input type="text" id="lastname" name="lastname" formControlName="lastname">
    </p>
  
   
    <p>
      <label for="email">Email </label>
      <input type="text" id="email" name="email" formControlName="email">
    </p>
   
   
   
    <p>
      <label for="gender">Geneder </label>
      <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male
      <input type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female
    </p>
    
   
    <p>
      <label for="isMarried">Married </label>
      <input type="checkbox" id="isMarried" name="isMarried" formControlName="isMarried">
    </p>
    


  <p>
    <button type="submit" >Submit</button>
  </p>
 
</form>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Gender </th>
    <th>isMarried </th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let item of testarray; let i = index">
    <td>{{ item.firstname }}</td>
    <td>{{ item.lastname }}</td>
    <td>{{ item.email }}</td>
    <td>{{ item.gender }}</td>
    <td>{{ item.isMarried }}</td>
    <td>
      <button id="edit" name="edit" (click)="edit(item , i)">Edit</button>
      <button id="delete" name="delete" (click)="delete(i)">Delete</button>
    </td>
  </tr>
</table>
</div>
