
<div class="">
  <form [formGroup]="todoForm" novalidate>
<div class="flex m-auto">
  <input type="text"  formControlName="taskName"> 
  <button (click)="addArray()">Submit</button>
</div>
<div class="p-2">
  <table id="role-table" class="table-fixed text-xl table-auto  border border-green-900">
    
    <tr *ngFor="let item of todoArray let i = index">
      <input type="checkbox" (click)="completed()">
      <td>{{ item?.taskName }}</td>
      <td>
        <div  class="flex space-x-4 pl-2">
        <img src="/assets/edit-ic.svg" width="20" *ngIf="!completedtask" (click)="edit(item , i)" class="hover">
        <img src="/assets/delete-ic.svg" width="20" (click)="delete(i)" class="hover">
        </div>
      </td>
    </tr>
  </table>
</div>
</form>
</div>